@import "tailwindcss";

@theme {
    --animate-instagram-shimmer: instagram-shimmer 4s infinite linear;

    @keyframes instagram-shimmer {
        0% {
            background-position: 200% 50%;
        }

        40% {
            background-position: -200% 50%;
        }

        100% {
            background-position: -200% 50%;
        }
    }
}